.headerContainer {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    gap: 1rem;
}

.theme {
    margin-left: auto;
    width: 2rem;
    height: 2rem;
    stroke: var(--gray-500);
    cursor: pointer;
}

