.container{
    display: flex;
    flex: 1;
    width: 100%;
    height: 10rem;
    background: var(--card);
    border-radius: 1.25rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 8rem;
}

.dataWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    text-align: center;
}

.main{
    background-color: var(--main-color-400);
}

.main p {
    color: var(--gray-100);
}
.icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--text-mid-contrast);
    stroke: var(--text-mid-contrast);
}

.main .icon {
    fill: var(--gray-100);
    stroke: var(--gray-100);
}