.container{
    width: 10rem;
    height: 10rem;
    background: var(--gray-100);
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.main{
    background-color: var(--main-color-400);
}

.main p {
    color: var(--gray-100);
}