.serviceTitle {
    margin-top: 2rem;
}

.section{
    margin-top: 2rem;
}

.cardsSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 10rem;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.returnContainer {
    display: flex;
    align-items: center;
}