.headerContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.returnContainer {
    display: flex;
    align-items: center;
}

.theme {
    width: 2rem;
    height: 2rem;
    stroke: var(--gray-500);
}

.arrow {
    width: 2rem;
    height: 2rem;
    stroke: var(--text-mid-contrast);
}