.searchContainer {
    display: flex;
    flex: 1;
    position: relative;
}

.searchInput {
    height: 2.8125rem;
    border-radius: 3.125rem;
    border: none;
    background-color: var(--gray-100);
    width: 100%;
    padding-left: 1.75rem;
    padding-right: 3.5rem;
}

.searchInput:focus {
    outline: 2px solid var(--main-color-400);
}

.searchInput::placeholder {
    font-size: 1.0625rem;
    color: var(--gray-500);
}

.searchButton {
    position: absolute;
    right: 0;
    background-color: var(--main-color-400);
    width: 2.8125rem;
    height: 2.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}