.container h3 {
    margin-top: 2rem;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 120%; /* 1.275rem */
    color: var(--text-high-contrast);
}

.container p {
    margin-top: 1rem;
    color: var(--text-mid-contrast);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
}

.container ul li {
    margin-top: 1rem;
    color: var(--text-mid-contrast);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%; 
}

